/*layout*/
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "YaHei Consolas Hybrid", Consolas, 微软雅黑, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, courier, monospace!important;
}

#root {
  background: rgba(0, 0, 0, 0);
}

.page-wrapper {
  height: 100%;
  position: relative;
}

.sidebar {
  position:fixed; /* <-- fixes the left panel to prevent from scrolling */
  top:50px;
  left:0px;
  width:180px;
  bottom:0px;
  background-color: #3f3f3f;
}

.content {
  margin-left:180px;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  right: 0px;
  background-color: #2a2a2a;
  opacity: 0.8;
  -webkit-app-region: drag;
}

.work-wrapper {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  margin-left: 300px;
}

.work-wrapper .sec-sidebar {
  width: 295px;
  background-color: #eee;
  /*height: 100%;*/
  top: 50px;
  bottom: 0px;
  margin-left: -300px;
  position: fixed;
  overflow-y: scroll;
}

.work-wrapper .work-pane {
  height: 100%;
  position: relative;
}

.editor-wrapper {
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
}

.sec-sidebar .active>div {
  border-width: 1.5px !important;
  border-color: #66b3ff !important;
  box-shadow: inset 0px 0px 2px #ddd !important;
}

.sec-sidebar a {
  text-decoration: none !important;
}

/*sidebar menu css*/
.main-menu {
  margin-top: 30px;
}

.s-menu {
  color: white;
}

.s-menu a {
  color: white;
  text-decoration: none !important;
}

.s-menu li {
  height: 40px;
  line-height: 40px;
  font-size: 13pt;
}

.s-menu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.s-menu li a.active {
  background: #e78170;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 10px #666;
  transition: background-color 0.3s;
}

.banner {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 14pt;
  line-height: 18pt;
  font-family: "Meiryo UI", "Microsoft YaHei", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}

a.file-item>div:hover {
  border-width: 1.5px !important;
  border-color: #d1c091 !important;
  box-shadow: inset 0px 0px 2px #ddd !important;
}

div.book-item:hover {
  border-width: 1.5px !important;
  border-color: #d1c091 !important;
  border-style: solid !important;
  box-shadow: inset 0px 0px 2px #ddd !important;
}
